html {
  margin: 0;
  padding: 0;
  font-size: 8px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 4rem;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #f0f0f0;
  border-bottom: 1px solid #dbdbdb;
  padding: 2rem;
}

a {
  color: #1068bf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  display: block;
  padding: 0.5rem 2rem;
  background-color: #1f75cb;
  color: #fff;
}

nav a:hover {
  background-color: #1068bf;
  text-decoration: none;
}

code {
  font-family: monospace;
  padding: 2px 4px;
  color: #1f1f1f;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.markdown-code-block pre {
  padding: 1rem;
  background-color: #1d1f21;
  color: #c5c8c6;
  overflow: auto;
}

.markdown-code-block pre code {
  padding: 0;
  color: inherit;
  background-color: inherit;
}

.markdown-code-block pre.language-mermaid {
  display: none;
}
