.code.highlight .hljs-comment {
  color: var(--color-hljs-comment)
}

.code.highlight .hljs-link {
  color: var(--color-hljs-link)
}

.code.highlight .hljs-meta {
  color: var(--color-hljs-meta)
}

.code.highlight .hljs-keyword {
  color: var(--color-hljs-keyword)
}

.code.highlight .hljs-type {
  color: var(--color-hljs-type)
}

.code.highlight .hljs-attr,
.code.highlight .hljs-property {
  color: var(--color-hljs-attr)
}

.code.highlight .hljs-built_in {
  color: var(--color-hljs-builtin)
}

.code.highlight .hljs-literal {
  color: var(--color-hljs-literal)
}

.code.highlight .hljs-title {
  color: var(--color-hljs-title)
}

.code.highlight .hljs-title.class_ {
  color: var(--color-hljs-class)
}

.code.highlight .hljs-title.function_ {
  color: var(--color-hljs-function)
}

.code.highlight .hljs-tag,
.code.highlight .hljs-name {
  color: var(--color-hljs-tag)
}

.code.highlight .hljs-number {
  color: var(--color-hljs-number)
}

.code.highlight .hljs-subst {
  color: var(--color-hljs-subst)
}

.code.highlight .hljs-string,
.code.highlight .hljs-section,
.code.highlight .hljs-bullet {
  color: var(--color-hljs-string)
}

.code.highlight .hljs-symbol {
  color: var(--color-hljs-symbol)
}

.code.highlight .hljs-variable {
  color: var(--color-hljs-variable)
}

.code.highlight .hljs-variable.language_ {
  color: var(--color-hljs-language)
}

.code.highlight .hljs-variable.constant_ {
  color: var(--color-hljs-constant)
}

.code.highlight .hljs-attribute {
  color: var(--color-hljs-attribute)
}

.code.highlight .hljs-operator {
  color: var(--color-hljs-operator)
}

.code.highlight .hljs-punctuation {
  color: var(--color-hljs-punctuation)
}

.code.highlight .hljs-regexp {
  color: var(--color-hljs-regexp)
}

.code.highlight .hljs-params {
  color: var(--color-hljs-params)
}

.code.highlight .hljs-doctag {
  color: var(--color-hljs-doctag)
}

.code.highlight .hljs-selector-tag {
  color: var(--color-hljs-selector-tag)
}

.code.highlight .hljs-selector-class {
  color: var(--color-hljs-selector-class)
}

.code.highlight .hljs-selector-id {
  color: var(--color-hljs-selector-id)
}

.code.highlight .hljs-selector-attr {
  color: var(--color-hljs-selector-attr)
}

.code.highlight .hljs-selector-pseudo {
  color: var(--color-hljs-selector-pseudo)
}

:root {
  --color-hljs-comment: #969896;
  --color-hljs-variable: #b294bb;
  --color-hljs-link: #de935f;
  --color-hljs-meta: #969896;
  --color-hljs-keyword: #b294bb;
  --color-hljs-type: #f0c674;
  --color-hljs-attr: #81a2be;
  --color-hljs-builtin: #c5c8c6;
  --color-hljs-title: #c5c8c6;
  --color-hljs-class: #f0c674;
  --color-hljs-function: #81a2be;
  --color-hljs-tag: #8abeb7;
  --color-hljs-number: #de935f;
  --color-hljs-subst: #c5c8c6;
  --color-hljs-string: #b5bd68;
  --color-hljs-symbol: #b5bd68;
  --color-hljs-variable: #c66;
  --color-hljs-operator: #8abeb7;
  --color-hljs-punctuation: #c5c8c6;
  --color-hljs-regexp: #b5bd68;
  --color-hljs-constant: #81a2be;
  --color-hljs-literal: #b294bb;
  --color-hljs-language: #81a2be;
  --color-hljs-params: #81a2be;
  --color-hljs-selector-doctag: #969896;
  --color-hljs-selector-tag: #8abeb7;
  --color-hljs-selector-class: #f0c674;
  --color-hljs-selector-id: #f0c674;
  --color-hljs-selector-attr: #8abeb7;
  --color-hljs-selector-pseudo: #8abeb7;
  --default-diff-color-deletion: #ff3333;
  --default-diff-color-addition: #288f2a
}

.code .file-line-num {
  min-width: 3rem
}

.code .file-line-num::before {
  display: none;
  align-self: center;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  float: left;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-mask-image: url(/assets/icons-stacked-f55b5152b1b2d03ec4f8ea2eb2d4357a3a3d344c70df055648e44148b71ed95c.svg#link);
  mask-image: url(/assets/icons-stacked-f55b5152b1b2d03ec4f8ea2eb2d4357a3a3d344c70df055648e44148b71ed95c.svg#link);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
  content: ''
}

.code .file-line-num:hover::before {
  display: inline-block
}

.code .file-line-num:focus::before {
  display: inline-block
}

.code .line-numbers,
.code .diff-line-num,
.code .code-search-line {
  background-color: #1d1f21
}

.code .diff-line-num,
.code .diff-line-num a {
  color: rgba(255, 255, 255, 0.3)
}

.code pre.code,
.code .diff-line-num {
  border-color: #666
}

.code,
.code pre.code,
.code .line_holder .line_content {
  background-color: #1d1f21;
  color: #c5c8c6
}

.code .line_expansion {
  background-color: #1d1f21
}

.code .line_expansion .diff-td,
.code .line_expansion td {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080
}

.code .line_expansion button {
  color: #81a2be;
  border: 0;
  background: transparent
}

.code .line_expansion button[disabled] {
  color: #a0a0a0;
  opacity: 0.5;
  cursor: default
}

.code .line_expansion button:hover:not([disabled]) {
  text-decoration: underline
}

.code .line_expansion button:not(:focus-visible) {
  outline: 0
}

.code .line_holder.match .line_content,
.code .line_holder.old-nonewline .line_content,
.code .line_holder.new-nonewline .line_content {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1)
}

.code .line_holder .diff-td.diff-line-num.hll:not(.empty-cell),
.code .line_holder .diff-td.line-coverage.hll:not(.empty-cell),
.code .line_holder .diff-td.line-codequality.hll:not(.empty-cell),
.code .line_holder .diff-td.line_content.hll:not(.empty-cell),
.code .line_holder td.diff-line-num.hll:not(.empty-cell),
.code .line_holder td.line-coverage.hll:not(.empty-cell),
.code .line_holder td.line_content.hll:not(.empty-cell) {
  background-color: #557;
  border-color: #35354a
}

.code .line_holder .line-coverage {
  transition: border-left 0.1s ease-out
}

.code .line_holder .line-coverage.coverage {
  border-left: 2px solid #b3e841
}

.code .line_holder .line-coverage.no-coverage {
  border-left: 4px solid #ff4f33
}

.code .line_holder .diff-line-num.new,
.code .line_holder .line-coverage.new,
.code .line_holder .line-codequality.new,
.code .line_holder .line_content.new {
  background: rgba(51, 255, 51, 0.1)
}

.code .line_holder .diff-line-num.new.line_content span.idiff,
.code .line_holder .line-coverage.new.line_content span.idiff,
.code .line_holder .line-codequality.new.line_content span.idiff,
.code .line_holder .line_content.new.line_content span.idiff {
  background: rgba(51, 255, 51, 0.2)
}

.code .line_holder .diff-line-num.new.diff-line-num,
.code .line_holder .line-coverage.new.diff-line-num,
.code .line_holder .line-codequality.new.diff-line-num,
.code .line_holder .line_content.new.diff-line-num {
  border-color: #808080
}

.code .line_holder .diff-line-num.new::before,
.code .line_holder .diff-line-num.new a,
.code .line_holder .line-coverage.new::before,
.code .line_holder .line-coverage.new a,
.code .line_holder .line-codequality.new::before,
.code .line_holder .line-codequality.new a,
.code .line_holder .line_content.new::before,
.code .line_holder .line_content.new a {
  color: #627165
}

.code .line_holder .diff-line-num.old,
.code .line_holder .line-coverage.old,
.code .line_holder .line-codequality.old,
.code .line_holder .line_content.old {
  background: rgba(255, 51, 51, 0.2)
}

.code .line_holder .diff-line-num.old.line_content span.idiff,
.code .line_holder .line-coverage.old.line_content span.idiff,
.code .line_holder .line-codequality.old.line_content span.idiff,
.code .line_holder .line_content.old.line_content span.idiff {
  background: rgba(255, 51, 51, 0.25)
}

.code .line_holder .diff-line-num.old.diff-line-num,
.code .line_holder .line-coverage.old.diff-line-num,
.code .line_holder .line-codequality.old.diff-line-num,
.code .line_holder .line_content.old.diff-line-num {
  border-color: #808080
}

.code .line_holder .diff-line-num.old::before,
.code .line_holder .diff-line-num.old a,
.code .line_holder .line-coverage.old::before,
.code .line_holder .line-coverage.old a,
.code .line_holder .line-codequality.old::before,
.code .line_holder .line-codequality.old a,
.code .line_holder .line_content.old::before,
.code .line_holder .line_content.old a {
  color: #806565
}

.code .line_holder:not(.match) .diff-grid-left:hover .diff-line-num:not(.empty-cell),
.code .line_holder:not(.match) .diff-grid-right:hover .diff-line-num:not(.empty-cell),
.code .line_holder.code-search-line:hover .diff-line-num:not(.empty-cell) {
  background-color: #e1d8f9;
  border-color: #cbbbf2
}

.code .line_holder:not(.match) .diff-grid-left:hover .diff-line-num:not(.empty-cell) a,
.code .line_holder:not(.match) .diff-grid-right:hover .diff-line-num:not(.empty-cell) a,
.code .line_holder.code-search-line:hover .diff-line-num:not(.empty-cell) a {
  color: #5e5e5e
}

.code .line_holder .diff-line-num.is-over,
.code .line_holder .diff-line-num.hll.is-over:not(.empty-cell) {
  background-color: #e1d8f9;
  border-color: #cbbbf2
}

.code .line_holder .diff-line-num.is-over a,
.code .line_holder .diff-line-num.hll.is-over:not(.empty-cell) a {
  color: #5e5e5e
}

.code .line_holder .line_content.match {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1)
}

.code .line_holder:not(.diff-expanded)+.diff-expanded>.diff-line-num,
.code .line_holder:not(.diff-expanded)+.diff-expanded>.line-coverage,
.code .line_holder:not(.diff-expanded)+.diff-expanded>.line_content,
.code .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.diff-line-num,
.code .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.line-coverage,
.code .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.line_content {
  border-top: 1px solid #000
}

.code .line_holder.diff-expanded>.diff-line-num,
.code .line_holder.diff-expanded>.line-coverage,
.code .line_holder.diff-expanded>.line_content {
  background: #3e3e3e;
  border-color: #3e3e3e
}

.code .diff-line-num.conflict_marker_our,
.code .diff-line-num.conflict_our {
  background-color: rgba(51, 255, 51, 0.2);
  border-color: rgba(51, 255, 51, 0.2)
}

.code .diff-line-num.conflict_marker_their,
.code .diff-line-num.conflict_their {
  background-color: rgba(40, 120, 201, 0.4);
  border-color: rgba(40, 120, 201, 0.4)
}

.code .line_holder .line_content.conflict_marker_our,
.code .line_holder .line-coverage.conflict_marker_our {
  background-color: rgba(51, 255, 51, 0.2);
  border-color: rgba(51, 255, 51, 0.2)
}

.code .line_holder .line_content.conflict_marker_their,
.code .line_holder .line-coverage.conflict_marker_their {
  background-color: rgba(40, 120, 201, 0.4);
  border-color: rgba(40, 120, 201, 0.4)
}

.code .line_holder .line_content.conflict_our,
.code .line_holder .line-coverage.conflict_our {
  background-color: rgba(51, 255, 51, 0.1);
  border-color: rgba(51, 255, 51, 0.1)
}

.code .line_holder .line_content.conflict_their,
.code .line_holder .line-coverage.conflict_their {
  background-color: rgba(40, 120, 201, 0.3);
  border-color: rgba(40, 120, 201, 0.3)
}

.code pre .hll {
  background-color: #373b41 !important
}

.code span.highlight_word {
  background-color: #ffe792 !important;
  color: #000 !important
}

.code .line a {
  color: #81a2be
}

.code .hll {
  background-color: #373b41
}

.code .c {
  color: #969896
}

.code .err {
  color: #c66
}

.code .k {
  color: #b294bb
}

.code .l {
  color: #de935f
}

.code .n {
  color: #c5c8c6
}

.code .o {
  color: #8abeb7
}

.code .p {
  color: #c5c8c6
}

.code .cm {
  color: #969896
}

.code .cp {
  color: #969896
}

.code .c1 {
  color: #969896
}

.code .cs {
  color: #969896
}

.code .cd {
  color: #969896
}

.code .gd {
  color: #c66
}

.code .ge {
  font-style: italic
}

.code .gh {
  color: #8abeb7;
  font-weight: 600
}

.code .gi {
  color: #b5bd68
}

.code .gp {
  color: #969896;
  font-weight: 600
}

.code .gs {
  font-weight: 600
}

.code .gu {
  color: #8abeb7;
  font-weight: 600
}

.code .kc {
  color: #b294bb
}

.code .kd {
  color: #b294bb
}

.code .kn {
  color: #8abeb7
}

.code .kp {
  color: #b294bb
}

.code .kr {
  color: #b294bb
}

.code .kt {
  color: #f0c674
}

.code .ld {
  color: #b5bd68
}

.code .m {
  color: #de935f
}

.code .s {
  color: #b5bd68
}

.code .na {
  color: #81a2be
}

.code .nb {
  color: #c5c8c6
}

.code .nc {
  color: #f0c674
}

.code .no {
  color: #c66
}

.code .nd {
  color: #8abeb7
}

.code .ni {
  color: #c5c8c6
}

.code .ne {
  color: #c66
}

.code .nf {
  color: #81a2be
}

.code .nl {
  color: #c5c8c6
}

.code .nn {
  color: #f0c674
}

.code .nx {
  color: #81a2be
}

.code .py {
  color: #c5c8c6
}

.code .nt {
  color: #8abeb7
}

.code .nv {
  color: #c66
}

.code .ow {
  color: #8abeb7
}

.code .w {
  color: #c5c8c6
}

.code .mf {
  color: #de935f
}

.code .mh {
  color: #de935f
}

.code .mi {
  color: #de935f
}

.code .mo {
  color: #de935f
}

.code .sb {
  color: #b5bd68
}

.code .sc {
  color: #c5c8c6
}

.code .sd {
  color: #969896
}

.code .s2 {
  color: #b5bd68
}

.code .se {
  color: #de935f
}

.code .sh {
  color: #b5bd68
}

.code .si {
  color: #de935f
}

.code .sx {
  color: #b5bd68
}

.code .sr {
  color: #b5bd68
}

.code .s1 {
  color: #b5bd68
}

.code .ss {
  color: #b5bd68
}

.code .bp {
  color: #c5c8c6
}

.code .vc {
  color: #c66
}

.code .vg {
  color: #c66
}

.code .vi {
  color: #c66
}

.code .il {
  color: #de935f
}
